body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}
.container {
    widows: 90%;
    margin: 0 auto;
}
header {
    display: block;
    

}
.logo {
    float: left;
    margin-left: 24px;
    height: 64px;
    width: auto;
    position: relative;
    top: 15px;
}
nav {
    float: right;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
nav ul {
    margin: 0 24px;
    padding: 0;
    list-style-type: none;
    color: black;

}
nav li {
    display: inline-block;
    margin-left: 24px;
    position: relative;


}
.container p {
    font-size: 32px;
    position: relative;
    top: 22px;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a::hover{
    color: gray;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: gray;

    position: absolute;
    top: -52px;
    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}
.banner {
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner-img {
    padding: 32px 24px;
    width: 60%;
}
.pannel {
    width: 30%;
    margin: 0 auto;
    height: 500px;
    align-items: flex-start;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;


}
h1 {
    font-size: 58px;
}
h3 {
    font-size: 24px;
}
.buttom {
    background-color: darkslategrey;
    padding:8px auto;
    width: 75%;
    color: white;
    font-size: 26px;
    text-align: center;
    
}
.news {
    display: flex;
}
.main-article {
    margin: 32px 24px;
    width: 60%;

}
.main-img {
    width: 100%;
    height: auto;
}
.practicing h1 h3 {
    width: inherit;
}
span {
    padding: 32px auto;
}
.sub-articles {
    width: 40%;
    float: right;
    margin: 16px 16px;
    position: relative;
}
.img {
    width: 35%;
    height: auto;
    margin: 16px;
}
.sub {
    flex: 1;
    flex-basis:25%;
    display: flex;
    position: relative;

}
.article {
    align-items: flex-end;
    display: block;
    
   
}
.times {
    font-size: 8px;
}
.article, a {
    position: absolute ;
    bottom: 20%;
    left: 40%;
    color: royalblue;
    
}
#topic {
    font-size: 36px;
    display: block;
    padding-top: 18%;
}
.preview {
    font-size: 16px;
}